#first{
    background-color: red;
    display:block;
    width:100px;

    /* position : relative;
    left:10px; 
    top:10px;  */
    /* relative에서 가능 , 미세 조정*/
    /* 자리는 계속 차지중, 보일 때만 이동 */
    /* ex: 유튜브 */



    /* position:fixed; 
    top:20px;
    left:20px; */
    /* DOM 구조 탈출 */
    /* top, left 등으로 시작 위치 지정 가능 */



    position: absolute;
    /* DOM 구조 탈출 */
    /* top, left 등으로 시작 위치 지정 가능 */
    /* 광고에 많이 사용 */
}

#second{
    background-color: yellow;
    display: block; /*인라인이지만, 사이즈 변경 가능*/
    width:100px;
    height:10000px;
}  




/* span : 길이 조절 안됨 */
