body{
    margin:0;
}

a{
    text-decoration-line: none;
}

/* 상단 바 */
header {
    height: 56px;
    width : 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    background-color: #FFFFFFF7;
} 

#home_start_menu{
    display: flex;
    width:300px;
    align-items: center;
}

#nav_menu_button{
    border : none;
    background-color: #00000000;
    width:75px;
    padding:0;
}

.header_button_img{ /* 헤더 내 모든 버튼 이미지*/
    cursor: pointer;
    width: 24px;
    height: 24px;
}


#ytb_logo_img{
    height:56px;
}

/* 상단 바 가운데 */
#header_centner_menu{
    display: flex;
    width:1000px;
    justify-content: center;
    align-items: center;
}

#search_space{
    width:70%;
    height:40px;
    border: 1px solid #c6c6c6;
    display: flex;
    align-items: center;
}

#search_input{
    border: 0;
    padding: 0;
    width:100%;
    height:100%;
    color : grey;
}

.search_things{
    height:43px;
    cursor: pointer;
}

#search_glasses{
    width:56px;
    border: 1px solid #c6c6c6;
}

#search_glasses:hover{
    background-color: #c6c6c6;
}

#search_mic{
    margin-left: 5px;
    width:50px;
    border-radius: 50%;
    border: none;
}

/* 상단 바 오른쪽 */
#header_end_menu{
    width:225px;
    display: flex;
    justify-content: space-evenly;
}

#ytb_else{
    width:40px;
    height:40px;
}

#ytb_apps, #ytb_alarm, #ytb_upload, #search_glasses_small_screen{
    border: none;
    background-color: #00000000;
}

#search_keyboard{
    margin-right: 6px;
    padding:0;
    border: none;
    background-color: #00000000;
}

#account_button {
    border: none;
    background-color: #00000000;
    cursor:pointer;
}

#user{
    width: 48px;
}

/* 왼쪽 메뉴바 */
#nav_content {
    width:75px;
    height : 100%;
    padding-top: 10px;
    position:fixed;
    top : 56px;
    display:flex;
    flex-direction: column;
    
}   

.nav_menu{
    display:flex;
    flex-direction: column;
    height:80px;
    cursor:pointer;
    justify-content: center;
}

.nav_menu:hover{
    background-color: lightgrey;
}

.nav_button{
    background-color: #00000000;
    border:none;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.nav_button_img{
    width: 24px;
    height: 24px;
}

.nav_button_text{
    text-align: center;
    font-size : 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 메뉴 (펼쳤을 때)*/

#nav_full{
    display:none;
    background-color: #03030386;
    width: 100%;
    height : 100%;

}

#nav_full_background{
    position : fixed;
    z-index : 500;
    background-color : #03030386;
    width:100%;
    height:100%;
}

.nav_full_list{
    position : fixed;
    background-color: #FFFFFF;
    width:256px;
    height: 100%;
    z-index : 600;
}

#nav_full_home_start_menu{
    display: flex;
    width:300px;
    height: 56px;
    align-items: center;
}

#nav_full_content{
    margin-top : 20px;
    overflow-y: auto;
}

.nav_full_menu{
    display:flex;
    align-items: center;
    height : 40px;
    cursor : pointer;
}

.nav_full_menu:hover{
    background-color: #c6c6c6;
}

.nav_full_button{
    background-color: #00000000;
    border: none;
    width:75px;
    cursor: pointer;
}

.nav_full_button_text{
    text-align: center;
    font-size : 14px;
}

.nav_full_border{
    border : 1px solid #c6c6c6
}

.nav_full_menu_name{
    display: flex;
    justify-content: flex-start;
    margin : 0px 25px;
}
.nav_full_menu_name_text{
    font-size : 14px;
    color : grey;
}


.nav_full_profile_img{
    width:24px;
    height:24px;
    border-radius:50%;
}

/* 메인 내용 */

main {  
    position:relative;
    top:70px;
    margin-left:75px;
    z-index: 1;
    height:100%;
    display:flex;
    justify-content: center;
    background-color: #F9F9F9;
}

#video_list{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1920px;
}

.video{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:320px;
    max-width:420px;
    
}


.video_img_space{
    text-align: center;
}

.video_img{
    width:95%;
    cursor: pointer;
}


.video_description_space{
    margin: 10px;
    display:flex;
    width: 95%;
    cursor :pointer;
}

.profile_img_space{
    display:flex;
    justify-content: center;
    width:15%;
    height: fit-content;
}

.profile_img{
    width:36px;
    height:36px;
    border-radius:50%;
}

.description{
    width:70%;
    flex-grow:1;
}

.video_title{
    font-size: 14px;
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical; 
    overflow: hidden;
    color : #030303;
}
.Channel_name, .watched_and_date{
    font-size : 12px;
    font-family: sans-serif;
    color: #606060;
    
}

.Channel_name:hover{
    color:black;
}

.video_description_end{
    width:10%;
}

.video_description_end{
    display:flex;
    justify-content: flex-end;
}

.video_option{
    width: 16px;
    height : 16px;
}

@media screen and (max-width:850px) {
    #nav_content{
        display: none;
    }
    #main_content{
        margin-left:0;
    }
}


@media screen and (max-width:500px){
    #header_centner_menu{
        display: none;
    }

}

@media screen and (min-width:501px) {
    #search_glasses_small_screen
    {
        display: none;
    }
}